{% extends 'layouts/base.html.twig' %}

{% block title 'Log in!' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 font-weight-normal text-center">Please sign in</h1>
            <p class="text-muted text-center mb-5">Your pins are waiting for you</p>

            <form method="post">
                {% if error %}
                    <div class="alert alert-error" roles="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                
                <div class="form-group row mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group row mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                <div class="d-flex justify-content-between m-1">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>

                    <a href="#">Forgot password? </a>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </div>
            </form>

            <p class="mt-5 mb-3 text-center text-muted">Not registered yet? <a href="#">Create an account</a></p>
        </div>
    </div>

{% endblock %}
