{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}

    <article>
        <h1>{{ pin.title }}</h1>
        <p>{{ pin.description }}</p>
    </article>

    <p>
        <a href="{{ path('app_pins_edit', {id: pin.id}) }}">Edit</a> | 
        <a href="#" onClick="event.preventDefault(); confirm('Are you sure want to delete this pin ?') && 
        document.getElementById('js-pins-delete-form').submit();">Delete</a> |  
        <a href="{{ path('app_home') }}">Go back</a>
    </p>

    <form id="js-pins-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="POST" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_delete_' ~ pin.id)}}" />
        <input type="hidden" name="_method" value="DELETE" />
    </form>

{% endblock %}
